# frontend
frontend/node_modules/

# backend
backend/venv/
backend/__pycache__/
*.pyc

# env files
.env
backend/.env

# firebase secrets (IMPORTANT)
firebase-adminsdk.json
serviceAccountKey.json
*.json

# build
.next/
dist/
build/